*{
  box-sizing: none;
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: 'Baloo Bhaina 2', cursive;
}

body{
  background: linear-gradient(136.31deg, #0C0F07 14.16%, #1F102B 53.39%, #23193E 82.63%);
  height: 100vh;
}